* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, red, blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_btn { /* 改为 menu_btn */
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}

.menu_btn .line { /* 改为 menu_btn */
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform-origin: left;
    transition: transform 0.5s ease, opacity 0.2s ease;
}

.menu_btn .middle_line { /* 改为 menu_btn */
    transition-delay: 0.3s;
}

.menu_btn.open .middle_line { /* 改为 menu_btn.open */
    opacity: 0;
    transition-delay: 0s;
}

.menu_btn.open .top_line { /* 改为 menu_btn.open */
    transform: rotate(45deg);
}

.menu_btn.open .bottom_line { /* 改为 menu_btn.open */
    transform: rotate(-45deg);
}